section#video {
    margin-right: 60px;
    float:right;
    padding: 0 20px;
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}
main.conter div.pic img{
    width: 400PX;
    padding-right: 200px;
    top: 100px;
}